* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ebf5fe;
  color: #666666;
}
.service {
  padding: 30px 20px;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.service-cards {
  width: 30%;
  padding: 30px;
  border-radius: 8px;
  background-color: #fff;
  border: 3px solid #e0e0e0;
}

.service-cards .card-content .info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.card-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-icon i {
  font-size: 32px;
}
.title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  line-height: 1.3;
  margin-top: 20px;
  margin-bottom: 15px;
}
.desc {
  font-size: 15px;
  font-weight: 400;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

.link {
  font-size: 15px;
  font-weight: 500;
  color: #2196f3;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}

/* ===================card-unique=============== */
.card-unique:hover{
  border: 3px solid #ff6b6b;
}
.card-unique .info .card-icon{
  background-color: #ff6b6b;
}

/* =================card-theme============= */
.card-theme:hover{
  border: 3px solid  #4ecdc4;
}

.card-theme .info .card-icon{
  background-color:  #4ecdc4;
}

/*=================== card-digital ============*/
.card-digital:hover{
  border: 3px solid #f9a825;
}
.card-digital .info .card-icon{
  background-color: #f9a825;
}

/* ===================card-website============= */
.card-website:hover{
  border: 3px solid #5e9cff;;
}

.card-website .info .card-icon{
  background-color: #5e9cff;
}

/* ==============card-responsive================ */
.card-responsive:hover{
  border: 3px solid #9b59b6;
}

.card-responsive .info .card-icon{
  background-color: #9b59b6;
}

/* ==============card-quick============== */
.card-quick:hover{
  border: 3px solid #7cb342;
}

.card-quick .info .card-icon{
  background-color: #7cb342;
}
